<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="ERROR_LOG_PATH" value="logs/err.log"/>
  <property name="INFO_LOG_PATH" value="logs/info"/>

  <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${ERROR_LOG_PATH}</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archived/error_app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20GB</totalSizeCap>
      <!-- 60 days to keep -->
      <maxHistory>60</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d %p %c{1.} [%t] %m%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${INFO_LOG_PATH}_cafheg_%d{yyyy-MM-dd}.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archived/info_app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20GB</totalSizeCap>
      <!-- 60 days to keep -->
      <maxHistory>60</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d %p %c{1.} [%t] %m%n</pattern>
    </encoder>
  </appender>

  <!-- Console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <root level="debug">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="ch.hearc.cafheg" level="INFO">
    <appender-ref ref="FILE_INFO"/>
  </logger>

  <logger name="ch.hearc.cafheg" level="ERROR" additivity="false">
    <appender-ref ref="FILE_ERROR"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

</configuration>